<div class="sidenav">
  <a href="#about" (home)="sayHome($event)">About</a>
  <a href="#services" (about)="sayAbout($event)">Services</a>
  <a href="#clients" (service)="sayService($event)">Clients</a>
  <a href="#contact" (contact)="sayContact($event)">Contact</a>
</div>
<p class="content">{{ HomeText }}</p>

<p class="content">{{ aboutText }}</p>

<p class="content">{{ servicesText }}</p>

<p class="content">{{ contactText }}</p>
