<div class="container">
  <button class="about" (click)="sayHome($event)">Home</button>

  <button class="services" (click)="sayAbout($event)">About</button>

  <button class="client" (click)="sayService($event)">Services</button>

  <button class="contact" (click)="sayContact($event)">Contact</button>
</div>
